langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
streamlit
python-dotenv
pypdf
faiss-cpu
tiktoken
chromadb
pymupdf 
bs4
langchain-google-genai
google-generativeai
matplotlib
scikit-learn
tiktoken
openai
langchain-text-splitters
langchain-experimental
langchain-huggingface
unstructured
pdfminer
ipykernel